extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Product
      form(action="/products", method="post")
        .form-group
            label Name
            input.form-control(name="name")
        .form-group
            label Category
            input.form-control(name="category")
        .form-group
            label Rectangular Image URL
            input.form-control(name="picUrl") 
        .form-group
            label Square Image URL
            input.form-control(name="picUrlSq")   
        .form-group
            label Supply
            input.form-control(name="supply") 
        .form-group
            label Description
            textarea.form-control(name="description")   
        button(type="submit").btn.btn-primary Save
