//- products-new.pug

extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Product
      form(action="#" id="new-product" method="post")
        .form-group
            label Name*
            input.form-control(name="name" required)
        .form-group
            label Category*
            input.form-control(name="category" required)
        .form-group
            label Avatar*
            input.form-control(name="avatar" type="file" required)
        .form-group
            label Email Address
            input.form-control(name="emailAddress" required)
        .form-group
            label Supply*
            input.form-control(name="supply" required type="number" ) 
        .form-group
            label Description*
            textarea.form-control(name="description" required minlength="10")   
        button(type="submit").btn.btn-primary Save
